PORT=3002
MONGO_URI=mongodb://localhost:27017/pine_engine_db
CRON_SCHEDULE=* * * * *
PAYLOAD_URL=http://localhost:4000
SERVER_IP=127.0.0.1
EXCHANGE_KEYS_ENCRYPTION_KEY=your_32_byte_hex_encryption_key_here
CONCURRENCY=3
DRY_RUN=false
